
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#2196f3 , #e91e63);
    /* background: linear-gradient(pink, rgb( 137, 22, 120)); */
}

.container{
    /* max-width: 400px;
    margin:  10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px skyblue; */
    z-index: 12;
  width: 360px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
#display{
    border: 3px solid pink;
    text-align: center;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;  
     

}
.buttons{
   display: grid; 
   /* border-bottom: 1px solid rgb(167, 155, 155); */
   /* border-left: 1px solid rgb(167, 155, 155); */
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div{
display: flex;
    /* border-top: 1px solid rgb(167, 155, 155); */
    /* border-right: 1px solid rgb(167, 155, 155); */
}
.button{
    padding-top: 20px;
    height: 65px;
  color: #fff;
  width: calc(100%/4 -5 );
  background: transparent;
  border-radius: 12px;
  margin-top: 15px;
  outline: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  justify-content: center;
display: flex;


    /* border-radius: 10%;
border: 0.5px solid rgb(167, 155, 155);
line-height: 100px;
text-align: center;
font-size: 25px;
cursor: pointer; */
}
#equal{
    background-color: transparent;

}
.button:hover{  background: rgba(255, 255, 255, 0.1);

/* background-color: black; */
color: aliceblue;
-ms-transition: 0.3 all ease-in-out;
transition: 0.3 all ease-in-out;
}